@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .heroButton {
    @apply px-6 mx-6  py-2 border border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:border-ct-primary-02 hover:text-ct-text-primary/20  hover:bg-ct-primary-02/20;
  }
  .skillCard {
    @apply hover:scale-110  transition-all duration-300;
  }
  .contactInput {
    @apply outline-none bg-ct-primary-02/10 rounded-sm border-b px-6 py-4 border-[#FFDBC3] text-ct-text-primary placeholder-gray-500 transition-all focus:border-[#e57e70]  focus:text-[#190933] hover:border-[#e57e70];
  }
}
